@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-margins {
    @apply mx-12 sm:mx-16 lg:mx-20 xl:mx-24 desk:mx-32 desk-l:mx-44 desk-xl:mx-64;
  }
  .h1-text {
    @apply poppins-extrabold text-s-h1 sm:text-m-h1 desk-l:text-l-h1;
  }
  .h2-text {
    @apply poppins-extrabold text-s-h2 sm:text-m-h2 desk-l:text-l-h2;
  }
  .h3-text {
    @apply poppins-extrabold text-s-h3 sm:text-m-h3 desk-l:text-l-h3;
  }
  .h4-text {
    @apply poppins-extrabold text-s-h4 sm:text-m-h4 desk-l:text-l-h4;
  }
  .h5-text {
    @apply poppins-extrabold text-s-h5 sm:text-m-h5 desk-l:text-l-h5;
  }
  .p-text {
    @apply poppins-regular text-s-p sm:text-m-p lg:text-l-p;
  }
  .small-text {
    @apply poppins-regular text-s-sm sm:text-m-sm lg:text-l-sm;
  }
  .button-on {
    @apply bg-secondary rounded-lg text-white cursor-pointer hover:bg-tertiary
  }
  .button-pressed {
    @apply bg-secondary rounded-lg text-white cursor-default
  }
  .button-initial {
    @apply bg-primary rounded-lg text-white cursor-default
  }
}

:root {

  --color-text-color: #231942;
  --color-bg-color: #231942;
  --color-fg-color: #F7F5FB;
  --color-fg-color-shade: #CDCBCF;
  --color-title-color: #5e548e; 
  --color-primary: #231942;  
   --color-secondary: #5e548e;
  --color-secondary-shade: #423B64;
  --color-tertiary: #9F86C0;
  --color-extra1: #BE95C4;
  --color-extra2: #E0B1CB;
  --color-white: #F7F5FB;
  --color-white-shade: #CDCBCF;
  --color-yellow: #FFDD4A;
  --color-yellow-shade: #FFC84A;
  --color-green: #558F54;
  --color-green-shade: #50864F;
  --color-red: #AC3931;
  --color-red-shade: #802A24;
  --color-transition1: #918ab2;
  --color-transition2: #c4c0d6;

  /* second theme */
  /* --color-text-color: #f8f9fa;
  --color-bg-color: #212529;
  --color-fg-color: #495057;
  --color-title-color: #E9ECEF; 
  --color-primary: #212529; 
  --color-secondary: #343A40;
  --color-secondary-shade: #2D3237;
  --color-tertiary: #6C757D;
  --color-extra1: #ADB5BD;
  --color-extra2: #CED4DA;
  --color-white: #F8F9FA;
  --color-white-shade: #EFF0F1;
  --color-yellow: #000000;
  --color-green: #65A854;
  --color-red: #A85954;
  --color-red-shade: #A05550;
  --color-transition1: #3b4148;
  --color-transition2: #424850;  */

  /* experimental theme */
  /* --color-text-color: #FFE1A8;
  --color-bg-color: #271F30;
  --color-fg-color: #538083;
  --color-title-color: #FFE1A8;  
  --color-primary: #271F30;  
   --color-secondary: #723D46;
  --color-secondary-shade: #423B64;
  --color-tertiary: #9F86C0;
  --color-extra1: #BE95C4;
  --color-extra2: #E0B1CB;
  --color-white: #FFE1A8;
  --color-white-shade: #F6D9A3;
  --color-yellow: #EF6F6C;
  --color-green: #ECFFAB;
  --color-red: #E87461;
  --color-red-shade: #E06F5E;
  --color-transition1: #68535a;
  --color-transition2: #5e696e; */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 370px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
