---
import Layout from "../layouts/MainLayout.astro";
import Contact from "../components/Sections/Contact";
import Hero from "../components/Sections/Hero";
import About from "../components/Sections/About";
import Projects from "../components/Sections/Projects";
import StarConstellation from "../components/Sections/StarConstellation";
import CrtMission from "../components/Sections/CrtMission";
---

<Layout title="Welcome to my site!">
  <main>
    <section class="bg-fgColor" id="hero">
      <Hero client:idle/>
    </section>

    <section class="" id="starConstellation">
      <StarConstellation client:idle />
    </section>

    <section class="bg-fgColor" id="about">
      <About client:idle />
    </section>

    <section class="" id="crtMission">
      <CrtMission client:idle />
    </section>

    <section class="bg-fgColor" id="projects">
      <Projects client:idle />
    </section>

    <section class="" id="contact">
      <Contact client:idle/>
    </section>
  </main>
</Layout>

<!-- The stars align, to ifinity and beyond! Say hello   -->
