---
import Layout from "../layouts/MainLayout.astro";
import { Contact } from "../components/Sections/Contact";
import { Hero } from "../components/Sections/Hero";
import { About } from "../components/Sections/About";
import { Projects } from "../components/Sections/Projects";
import { BetweenLands } from "../components/Sections/BetweenLands";
---

<Layout title="Welcome to my site!">
  <main>
    <section class="" id="hero">
      <Hero client:visible/>
    </section>

    <section class="" id="separator1">
      <BetweenLands client:visible />
    </section>

    <section class="" id="about">
      <About client:visible />
    </section>

    <section class="" id="separator2">
      <BetweenLands client:visible />
    </section>

    <section class="" id="projects">
      <Projects client:visible />
    </section>


    <section class="" id="contact">
      <Contact client:visible />
    </section>

  </main>
</Layout>
