---
import Layout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="JckL">
  <main>
    <Header />
  </main>
</Layout>
