---
---

<div
  class="sm:mx-18 mx-12 flex flex-col items-center justify-between sm:flex-row sm:items-start xl:mx-48"
>
  <div class="m-4 w-full sm:w-1/2">
    <h3 class="mb-6 font-heading text-4xl font-bold text-white xl:text-6xl">
      Do you want to get in touch?
    </h3>

    <p class="font-sans leading-[16px] xl:text-lg">
      Then you can fill out this form or <br />
      <br />
      <u>mail</u> at <u>jckl.dev</u>
      <br />
      <br />
      I'm thrilled to hear from you!
    </p>
  </div>

  <form
    class="m-4 w-full font-sans text-black/75 sm:w-1/2 xl:text-lg"
    name="contact"
    method="POST"
    data-netlify="true"
  >
    <input
      type="hidden"
      name="subject"
      value="New email from %{formName} (%{submissionId})"
    />
    <p>
      <input
        placeholder="Full Name"
        class="mb-3 w-full rounded-lg p-2 xl:p-4"
        type="text"
        name="name"
      />
    </p>
    <p>
      <input
        placeholder="Your Email"
        class="mb-3 w-full rounded-lg p-2 xl:p-4"
        type="email"
        name="email"
      />
    </p>
    <p>
      <textarea
        placeholder="Your Message"
        class="mb-3 w-full rounded-lg pb-10 pl-2 pt-2 xl:pb-24 xl:pl-4 xl:pt-4"
        name="message"></textarea>
    </p>
    <p>
      <button
        class="w-full rounded-lg border-2 p-2 text-white2 xl:p-4"
        type="submit">Send Message</button
      >
    </p>
  </form>
</div>
