---
import { Menu } from "../components/Menu/Menu.jsx";

const jckl = "JckL";
const about = "about";
const projects = "projects";
const contactMe = "contact me";
---

<header
  class="sticky top-0 mx-auto h-28 w-full flex-none select-none bg-white/90 shadow-md backdrop-blur-md"
  id="header"
>
  <div
    class="absolute inset-x-0 mx-6 flex h-full flex-row items-center font-heading font-medium sm:mx-12 xl:mx-24"
  >
    <a
      class="z-10 mr-10 mt-10 cursor-pointer self-start text-xl sm:mt-0 sm:self-center"
      href="https://jckl.dev/"
    >
      {jckl}
    </a>
    <nav class="w-full">
      <ul class="hidden flex-1 flex-row items-center justify-between sm:flex">
        <li
          class="mr-4 cursor-pointer transition-colors delay-100 ease-in-out hover:text-secondary"
        >
          {about}
        </li>
        <li
          class="cursor-pointer transition-colors delay-100 ease-in-out hover:text-secondary"
        >
          {projects}
        </li>
        <li class="grow"></li>
        <li
          class="hover:black-bgblack cursor-pointer rounded-xl border-2 border-black px-4 py-2 font-sans transition-colors delay-100 ease-in-out hover:bg-black hover:text-white"
        >
          {contactMe}
        </li>
      </ul>
    </nav>
  </div>
  <Menu client:visible />
</header>
