---
import { Menu } from "../components/Menu/Menu.jsx";

const jckl = "JckL";
const about = "about";
const projects = "projects";
const contactMe = "contact me";
---

<header
  class="sticky top-0 h-28 w-screen select-none bg-white/80 drop-shadow-md backdrop-blur-md"
>
  <div
    class="absolute inset-0 z-10 mx-6 my-8 flex flex-row items-center font-heading font-medium sm:mx-12 xl:mx-24"
  >
    <a class="" href="https://jckl.dev/">
      <span class="mr-10 cursor-pointer text-lg">{jckl}</span>
    </a>
    <nav class="w-full">
      <ul class="hidden flex-1 flex-row items-center justify-between sm:flex">
        <li
          class="mr-4 cursor-pointer transition-colors delay-100 ease-in-out hover:text-secondary"
        >
          {about}
        </li>
        <li
          class="cursor-pointer transition-colors delay-100 ease-in-out hover:text-secondary"
        >
          {projects}
        </li>
        <li class="grow"></li>
        <li
          class="hover:black-bgblack cursor-pointer rounded-xl border-2 border-black px-4 py-2 font-sans transition-colors delay-100 ease-in-out hover:bg-black hover:text-white"
        >
          {contactMe}
        </li>
      </ul>
    </nav>
  </div>
  <Menu client:visible />
</header>
