<header class="fixed top-0 z-50 flex-none select-none mix-blend-luminosity">
  <a
    class="absolute left-6 top-6 cursor-pointer rounded-2xl bg-white p-2 font-heading text-2xl font-bold text-primary hover:bg-[#d4eefd]"
    href="#hero"
  >
    JckL
  </a>
</header>
