<footer
  class="relative h-36 select-none items-center bg-white/80 text-base font-medium shadow-inner sm:h-28"
>
  <div class="m-auto flex h-full flex-col justify-center sm:flex-row-reverse">
    <div class="mt-4 flex justify-center sm:mt-0 sm:items-center gap-1">
      <img class="h-6 w-6" src={"/github-svgrepo-com.svg"} alt="Icon"  />

      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-black hover:stroke-primary"
      >
        <path
          d="M8 11V16M8 8V8.01M12 16V11M16 16V13C16 12.4696 15.7893 11.9609 15.4142 11.5858C15.0391 11.2107 14.5304 11 14 11C13.4696 11 12.9609 11.2107 12.5858 11.5858C12.2107 11.9609 12 12.4696 12 13M4 6C4 5.46957 4.21071 4.96086 4.58579 4.58579C4.96086 4.21071 5.46957 4 6 4H18C18.5304 4 19.0391 4.21071 19.4142 4.58579C19.7893 4.96086 20 5.46957 20 6V18C20 18.5304 19.7893 19.0391 19.4142 19.4142C19.0391 19.7893 18.5304 20 18 20H6C5.46957 20 4.96086 19.7893 4.58579 19.4142C4.21071 19.0391 4 18.5304 4 18V6Z"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>

    <div class="mx-auto my-4 sm:mx-4 sm:my-auto">
      <svg
        class="sm:hidden"
        width="160"
        height="1"
        viewBox="0 0 160 1"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line y1="0.5" x2="160" y2="0.5" stroke="#1E2022" stroke-opacity="0.5"
        ></line>
      </svg>

      <svg
        class="hidden sm:block"
        width="1"
        viewBox="0 0 1 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="0.5"
          y1="-2.18557e-08"
          x2="0.500001"
          y2="24"
          stroke="#1E2022"
          stroke-opacity="0.5"></line>
      </svg>
    </div>

    <div class="flex justify-center sm:items-center gap-1">
      Coded with
      <img class="h-6 w-6" src={"/heart-svgrepo-com.svg"} alt="Icon"  />
      by Joshua Lowe
    </div>
  </div>
</footer>
