---
import { LinkedIn, Heart, GitHub } from "../utility/icons"
---

<footer
  class="relative h-36 select-none items-center bg-fg-Color text-base font-medium sm:h-28 mt-1"
  style="box-shadow: inset 0 2px 4px 0 rgba(35, 25, 66, 0.1);"
>
  <div class="m-auto flex h-full flex-col justify-center sm:flex-row-reverse">
    <div class="mt-4 flex justify-center sm:mt-0 sm:items-center gap-1">
      <a href={"https://github.com/JcK-l"} target="_blank" rel="noreferrer noopener">
       <GitHub />
      </a>

      <LinkedIn />
    </div>

    <div class="mx-auto my-4 sm:mx-4 sm:my-auto">
      <svg
        class="sm:hidden"
        width="160"
        height="2"
        viewBox="-1 0 162 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line y1="1" x2="160" y2="1" stroke="var(--color-text-color)" stroke-opacity="1"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
      </svg>

        <svg
          class="hidden sm:block"
          width="2"
          viewBox="0 -1 2 26"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="1"
            y1="0"
            x2="1"
            y2="24"
            stroke="var(--color-text-color)"
            stroke-linecap="round"
            stroke-linejoin="round"
            />
        </svg>
    </div>

    <div class="flex justify-center sm:items-center gap-1">
      Coded with
      <Heart />
      by Joshua Lowe
    </div>
  </div>
</footer>
