---
import "/src/styles/base.css";

import Head from "../layouts/Head.astro";
import { Footer } from "../components/Footer";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="scroll-smooth overflow-x-hidden">
  <Head title={title} />
  <body
    class="bg-fgColor text-textColor antialiased selection:bg-secondary selection:text-white p-text"
  >
    <slot />
    <Footer client:idle />
  </body>
</html>
